.sideBar {
    flex: 3;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding-bottom: 30px;
    background-color: #c0ebeb;
    height: fit-content;
    font-family: 'Merriweather', serif;
}

.sideBarItem > img {
    width: 250px;
    height: 250px;
    margin-top: 15px;
}

.sideBarItem > p {
    padding: 30px;
}

.sideBarTitle {
    margin: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: #46374d;
    padding: 5px;
    font-family: 'Merriweather', serif;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    width: 80%;
}

.sideBarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideBarAbout {
    text-align: center;
}

.sideBarList {
    list-style: none;
    margin-bottom: 30px;
}

.sideBarListItem {
    display: inline-block;
    width: 50%;
    cursor: pointer;
    margin-top: 15px;
}
