.topNav {
    background-color: #c0ebeb;
    width: 100%;
    position: sticky;
    align-items: center;
    display: flex;
    top: 0;
    height: 50px;
    font-family: 'Merriweather', serif;
    z-index: 100;
}

.topCenter {
    flex: 6;
}

.topRight, .topLeft {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}


.topPfpImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.topNavList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.topSearchIcon {
    color: #d292f7;
    cursor: pointer;
    font-size: 18px;
    margin-left: 15px;
}


.navListItem.Home {
    color: #ff5454;
}

.navListItem.About {
    color: #ff9054;
}

.navListItem.Contact {
    color: #878246;
}

.navListItem.Write {
    color: #5a8746;
}


.navListItem.Logout {
    color: #7c86f7;
}
